{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row my-3"style="width:20">
 <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'app:profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'app:address' %}" class="btn {{active}}">Address</a></li>
   </ul>
  <form action="" method="post" novalidate>
   {% csrf_token %}
    {% if messages %}
      {% for message in messages %}
      <p {% if message.tags %}class ="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
      {% endfor %}
   {% endif %}
    {% csrf_token %}
    {% for f in form %}
    <div class="form-group col-lg-6 mb-3">
    {{f.label_tag}}{{f}}<small class="text-danger">{{f.errors|striptags}}</small><br>
    </div>
    {% endfor %}
    <div class="col-12 mt-3">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>

    </div>
  </form>
     {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
    {% endfor %}
    {% endif %}
   </form>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
   {% for ad in add %}
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address {{forloop.counter}}</h3>
       <p>Address:{{ad.add_place}} </p>
       <p>State: {{ad.state}}</p>
       <p>PinCode: {{ad.pin_code}}</p>
      </div>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}