{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}} </p>
        </div>
      </div>
      {% endfor %}
      <p> Total Cost (including Shipping) :{{total_amt}}</p>
    <small>Term and Condition: All are good items. We believe in Quality</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{buyer.name}}</h5>
        <p>{{ad.add_place}}</p>
        <p>{{ad.state}}</p>
        <p>{{ad.pin_code}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <div id="paypal-button-container"></div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment %}
 <script src="https://www.paypal.com/sdk/js?client-id=AWlk0PouOrYiKn43kv6RJTqbn2Xf4RXhMxfj3D8Ih9uxMDOPbEiOw5g3c6kfbtIIfQtQAxHmCiKE3rkE&currency=USD">
 </script>
  
    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{total_amt}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    document.getElementById("myform").submit()
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock payment %}