
<html>
<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    
    </head>
<style>
body {
  position: relative;
  background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMKH3Fxlfk9OmhZF54QcCbrAEJoGL4yUwLXg&usqp=CAU');
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
</style>
<body>



  <section class="my-5">
  <div class="container bg-success" style="background-color:red">
    
     
        <h1 class="text-primary mx-5">
        WELCOME TO THE SHOPPING WORLD.
        </h1>
      
  </div>

</section>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ARE YOU A SELLER</h5>
         
        <a href="{% url 'app:seller' %}" class="btn btn-primary">Go here</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">  
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ARE YOU A BUYER</h5>
        <a href="{% url 'app:buyers' %}" class="btn btn-primary">Go here</a>
      </div>
    </div>
  </div>
</div>
</body>

</html>
