{% extends 'app/base.html' %}
{% load static %}
{% block title %} Orders Placed{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome  {{request.user}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'app:orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
  {% for op in orders %}
   <div class="row shadow-sm-mb-3">
    <div class="col-sm-2">
    <img src="{{op.product.image.url}}" alt="" srcset="" class="img-fluid" height="150" width="150">
     </div>
     <div class="col-sm-7">
     <p>Product:{{op.product.title}}</p>
     <p>Quantity:{{op.quantity}}</p>
     <p>Price:{{op.total_cost}}</p>
     <p>Status:{{op.status}}</p>
     <hr>
    </div>
   </div>

  {% endfor %}
 </div>
</div>
{% endblock main-content %}